@using RazorLight
@using InfoTrack.Cdd.Infrastructure.Models.Frankie.PersonSearch
@using InfoTrack.Cdd.Infrastructure.Models.Frankie.Extensions
@inherits TemplatePage<GeneralDetail>
@model GeneralDetail

@{
    @if (Model.Countries != null && Model.Countries.Any(c => !string.IsNullOrWhiteSpace(c)))
    {
        <tr>
            <td>Countries</td>
            <td>@string.Join(", ", Model.Countries)</td>
        </tr>
    }
    else if (Model.OriginalCountries != null && Model.OriginalCountries.Any())
    {
        <tr>
            <td>Original countries</td>
            <td>
                @foreach (var c in Model.OriginalCountries)
                {
                    <span>@c</span><br />
                }
            </td>
        </tr>
    }

    if (Model.AdditionalFields != null)
    {
        foreach (var add in Model.AdditionalFields)
        {
            <tr>
                <td style="width:30%;">@add.Item1</td>
                <td style="width:70%;">@add.Item2</td>
            </tr>
        }
    }

    if (Model.AmlTypes != null && Model.AmlTypes.Any())
    {
        <tr>
            <td>Types</td>
            <td>@string.Join(", ", Model.AmlTypes)</td>
        </tr>
    }

    var source = Model?.GetSource();
    if (!string.IsNullOrWhiteSpace(source))
    {
        <tr>
            <td>Source</td>
            <td>
                @source
                @if (!string.IsNullOrWhiteSpace(Model?.SourceUrl))
                {
                    <br /><span>@Model.SourceUrl</span>
                }
            </td>
        </tr>
    }

    var sourceCountries = Model.GetSourceCountries();
    if (sourceCountries != null && sourceCountries.Any() &&
        (Model.Countries == null || sourceCountries.Count != Model.Countries.Count))
    {
        <tr>
            <td>Source countries</td>
            <td>@string.Join(", ", sourceCountries)</td>
        </tr>
    }

}