@using RazorLight
@using InfoTrack.Cdd.Infrastructure.Utils
@using InfoTrack.Cdd.Application.Models
@using InfoTrack.Cdd.Infrastructure.Models.Frankie.PersonSearch
@using InfoTrack.Cdd.Infrastructure.Models.Frankie.Extensions
@inherits TemplatePage<TemplateModel<FrankieSearchResults>>

@model TemplateModel<FrankieSearchResults>
@{
    var personDetails = Model.DataModel.PersonDetails;
    var pep = Model.DataModel.PEPDetails;
    var media = Model.DataModel.MediaDetails;
    var sanctions = Model.DataModel.SanctionsDetails;
    var watchlists = Model.DataModel.WatchlistDetails;
}

<html>
@{ await IncludeAsync("Shared/_Head.cshtml"); }

<body>
    <div class="pdf-container">
        <div class="cover">
            <div class="it-logo">
                <img alt="InfoTrack" src="https://cf.infotrack.com.au/zenith-assets/logo-main.svg">
            </div>

            <div class="titles">
                <span class="report-title">@Model.ReportTitle on</span>
                <h1>
                    @personDetails.GetName()
                </h1>
                @if (!string.IsNullOrEmpty(personDetails?.GetDob()))
                {
                    <h2>Dob: @DateHelper.TryFormatShortDate(personDetails.GetDob())</h2>
                }
            </div>

            @{ var now = DateTime.Now; }
            <p><span class="label">Date prepared:</span> @DateHelper.FormatLongDate(now) @DateHelper.FormatShortTime(now)</p>

            <section>
                <h3 id="criteria">Search criteria</h3>
                <p>The following criteria were used to run this search:</p>
                <table style="width: 50%">
                    <tbody class="smlText">
                        <tr>
                            <td>Name</td>
                            <td>@personDetails.SearchDetails.Name</td>
                        </tr>
                        <tr>
                            <td>Dob</td>
                            @if (!string.IsNullOrWhiteSpace(personDetails.SearchDetails.Dob))
                            {
                                <td>@DateHelper.TryFormatShortDate(personDetails.SearchDetails.Dob)</td>
                            }
                            else if (!string.IsNullOrWhiteSpace(personDetails.SearchDetails.YearOfBirth))
                            {
                                <td>@personDetails.SearchDetails.YearOfBirth</td>
                            }
                            else
                            {
                                <td>Not supplied</td>
                            }

                        </tr>

                        @if (personDetails.SearchDetails.Fuzziness != 0)
                        {
                            <tr>
                                <td>Fuzziness</td>
                                <td>@personDetails.SearchDetails.Fuzziness</td>
                            </tr>
                        }
                        @if (personDetails.SearchDetails.Countries != null && personDetails.SearchDetails.Countries.Any())
                        {
                            <tr>
                                <td>Countries</td>
                                <td>@string.Join(", ", personDetails.SearchDetails.Countries)</td>
                            </tr>
                        }
                        @{
                            var checkTypes = personDetails.GetCheckTypes();
                            if (checkTypes != null && checkTypes.Any())
                            {
                                <tr>
                                    <td>Check types</td>
                                    <td>
                                        <ul>
                                            @foreach (var check in checkTypes)
                                            {
                                                <li>@check</li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>Watchlists searched</td>
                            <td>Law Enforcement, Financial Regulator</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            @if (!personDetails.HasMatch())
            {
                <p><i><b>No match was found for the above search criteria.</b></i></p>
            }

            @if (personDetails.HasMatch())
            {
                <div class="contents">
                    <h3>Contents</h3>
                    <ul>

                        <li><a href="#key_information">Profile match</a></li>
                        @if (personDetails.HasAssociates())
                        {
                            <li><a href="#associates">Associates</a></li>
                        }
                        else
                        {
                            <li><i>Associates (no data)</i></li>
                        }

                        @if (pep != null && pep.HasPep())
                        {
                            <li><a href="#pep">Political exposure</a></li>
                        }
                        else
                        {
                            <li><i>Political exposure (no data)</i></li>
                        }


                        @if (sanctions != null && sanctions.HasSanctions())
                        {
                            <li><a href="#sanctions">Sanctions</a></li>
                        }
                        else
                        {
                            <li><i>Sanctions (no data)</i></li>
                        }
                        @if (watchlists != null && watchlists.HasWatchlists())
                        {
                            <li><a href="#watchlists">Watchlist listings</a></li>
                        }
                        else
                        {
                            <li><i>Watchlist listings (no data)</i></li>
                        }
                        @if (media != null && media.HasMedia())
                        {
                            <li><a href="#adverse_media">Media</a></li>
                        }
                        else
                        {
                            <li><i>Media (no data)</i></li>
                        }
                        @*<li><a href="#about">About Risk & Compliance</a></li>*@
                    </ul>
                </div>
            }


            @{ await IncludeAsync("Shared/_Footer.cshtml"); }

        </div>


        <!--Key information section-->
        <section>
            @if (personDetails.HasMatch())
            {
                <h2 id="key_information">Profile match: @personDetails.FullName</h2>

                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>@personDetails.FullName</td>
                        </tr>
                        @if (!string.IsNullOrWhiteSpace(personDetails.Dob))
                        {
                            <tr>
                                <td>Dob</td>
                                <td>@DateHelper.TryFormatShortDate(personDetails.Dob)</td>
                            </tr>
                        }

                        <tr>
                            <td>AML score</td>
                            <td>@personDetails.AmlScore</td>
                        </tr>
                        @if (personDetails.MatchTypes != null && personDetails.MatchTypes.Any(m => !string.IsNullOrWhiteSpace(m)))
                        {
                            <tr>
                                <td>Match types</td>
                                <td>@string.Join(", ", personDetails.MatchTypes)</td>
                            </tr>
                        }
                        @if (personDetails.Alias != null && personDetails.Alias.Any())
                        {
                            <tr>
                                <td>Aliases</td>
                                <td>@string.Join(", ", personDetails.Alias)</td>
                            </tr>
                        }

                        @{ await IncludeAsync("Shared/_CommonDetailFields.cshtml", personDetails); }

                    </tbody>
                </table>

                <!--Associates section-->
                <section>
                    <h2 id="associates">Associates</h2>
                    @if (!personDetails.HasAssociates())
                    {
                        <p><i>No data found.</i></p>
                    }
                    else
                    {
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var associate in personDetails.Associates)
                                {
                                    <tr>
                                        <td>@string.Join(", ", associate.Value)</td>
                                        <td>@associate.Key</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </section>

                <!--PEP-->
                <section>
                    <h2 id="pep">Political exposure</h2>
                    @if (!pep.HasPep())
                    {
                        <p><i>No data found.</i></p>
                    }
                    else
                    {

                        <table>
                            <tbody>
                                @{var i = 0; }
                                @foreach (var exposure in pep)
                                {
                                    @if (i++ > 0)
                                    {
                                        <tr>
                                            <td colspan="2"><hr /></td>
                                        </tr>
                                    }
                                    @if (exposure.Positions != null && exposure.Positions.Any())
                                    {
                                        <tr>
                                            <td>Political positions</td>
                                            <td>
                                                @foreach (var position in exposure.Positions)
                                                {
                                                    <span>@position</span><br />
                                                }
                                            </td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(exposure.ActiveStartDate))
                                    {
                                        <tr>
                                            <td>Active start date</td>
                                            <td>@DateHelper.TryFormatShortDate(exposure.ActiveStartDate)</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(exposure.ActiveEndDate))
                                    {
                                        <tr>
                                            <td>Active end date</td>
                                            <td>@DateHelper.TryFormatShortDate(exposure.ActiveEndDate)</td>
                                        </tr>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(exposure.DateOfBirth))
                                    {
                                        <tr>
                                            <td>Date of birth</td>
                                            <td>@DateHelper.TryFormatShortDate(exposure.DateOfBirth)</td>
                                        </tr>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(exposure.PlaceOfBirth))
                                    {
                                        <tr>
                                            <td>Place of birth</td>
                                            <td>@exposure.PlaceOfBirth</td>
                                        </tr>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(exposure.Nationality))
                                    {
                                        <tr>
                                            <td>Nationality</td>
                                            <td>@exposure.Nationality</td>
                                        </tr>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(exposure.Gender))
                                    {
                                        <tr>
                                            <td>Gender</td>
                                            <td>@exposure.Gender</td>
                                        </tr>
                                    }


                                    @if (exposure.ReferenceDocUrl != null && exposure.ReferenceDocUrl.Any())
                                    {
                                        <tr>
                                            <td>Reference doc url</td>
                                            <td>@string.Join(", ", exposure.ReferenceDocUrl)</td>
                                        </tr>
                                    }

                                    { await IncludeAsync("Shared/_CommonDetailFields.cshtml", exposure); }

                                }
                            </tbody>
                        </table>

                    }
                </section>

                <!--Sanctions-->
                <section>
                    <h2 id="sanctions">Sanctions</h2>
                    @if (!sanctions.HasSanctions())
                    {
                        <p><i>No data found.</i></p>
                    }
                    else
                    {
                        <table>
                            <tbody>
                                @{var i = 0; }
                                @foreach (var sanction in sanctions)
                                {
                                    @if (i++ > 0)
                                    {
                                        <tr>
                                            <td colspan="2"><hr /></td>
                                        </tr>
                                    }


                                    @if (!string.IsNullOrWhiteSpace(sanction.DateOfBirthForSanction))
                                    {
                                        <tr>
                                            <td>Date of birth</td>
                                            <td>@DateHelper.TryFormatShortDate(sanction.DateOfBirthForSanction)</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.AdditionalInfo))
                                    {
                                        <tr>
                                            <td>Additional information</td>
                                            <td>@sanction.AdditionalInfo</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.SanctionAddress))
                                    {
                                        <tr>
                                            <td>Sanction address</td>
                                            <td>@sanction.SanctionAddress</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.DesignationDate))
                                    {
                                        <tr>
                                            <td>Designation date</td>
                                            <td>@DateHelper.TryFormatShortDate(sanction.DesignationDate)</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.LegalBasis))
                                    {
                                        <tr>
                                            <td>Legal basis</td>
                                            <td>@sanction.LegalBasis</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.SDNList))
                                    {
                                        <tr>
                                            <td>List</td>
                                            <td>@sanction.SDNList</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.ListingId))
                                    {
                                        <tr>
                                            <td>Listing Id</td>
                                            <td>@sanction.ListingId</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.OtherInformation))
                                    {
                                        <tr>
                                            <td>Other Information</td>
                                            <td>@sanction.OtherInformation</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.Program))
                                    {
                                        <tr>
                                            <td>Program</td>
                                            <td>@sanction.Program</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.SanctionType))
                                    {
                                        <tr>
                                            <td>Sanction type</td>
                                            <td>@sanction.SanctionType</td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(sanction.Title))
                                    {
                                        <tr>
                                            <td>Title</td>
                                            <td>@sanction.Title</td>
                                        </tr>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(sanction.SourceListingStarted))
                                    {
                                        <tr>
                                            <td>Source listing started</td>
                                            <td>@DateHelper.TryFormatShortDate(sanction.SourceListingStarted)</td>
                                        </tr>
                                    }


                                    { await IncludeAsync("Shared/_CommonDetailFields.cshtml", sanction); }


                                }
                            </tbody>
                        </table>

                    }
                </section>

                <!--Watchlists-->
                <section>
                    <h2 id="watchlists">Watchlist listings</h2>
                    <p>The following watchlists have been searched:</p>
                    <ul>
                        <li>Law Enforcement</li>
                        <li>Financial Regulator</li>
                    </ul>
                    @if (!watchlists.HasWatchlists())
                    {
                        <p><i>No data found.</i></p>
                    }
                    else
                    {

                        <table>
                            <tbody>
                                @{var i = 0; }
                                @foreach (var watchlist in watchlists)
                                {
                                    @if (i++ > 0)
                                    {
                                        <tr>
                                            <td colspan="2"><hr /></td>
                                        </tr>
                                    }

                                    <tr>
                                        <td>Source listing date</td>
                                        <td>@DateHelper.TryFormatShortDate(watchlist.DataSourceDate)</td>
                                    </tr>

                                    { await IncludeAsync("Shared/_CommonDetailFields.cshtml", watchlist); }

                                }
                            </tbody>
                        </table>

                    }
                </section>

                <!--Adverse media-->
                <section>
                    <h2 id="adverse_media">Media</h2>
                    @if (!media.HasMedia())
                    {
                        <p><i>No data found.</i></p>
                    }
                    else
                    {
                        <h3>Adverse media</h3>
                        @if (!media.HasAdverseMedia())
                        {
                            <p><i>No data found.</i></p>
                        }
                        else
                        {
                            <table>
                                <tbody>
                                    @{var i = 0; }
                                    @foreach (var adverseMedia in media.Adverse)
                                    {
                                        @if (i++ > 0)
                                        {
                                            <tr>
                                                <td colspan="2"><hr /></td>
                                            </tr>
                                        }

                                        @if (!string.IsNullOrWhiteSpace(adverseMedia.Subtypes))
                                        {
                                            <tr>
                                                <td>Subtypes</td>
                                                <td>@adverseMedia.Subtypes</td>
                                            </tr>
                                        }

                                        { await IncludeAsync("Shared/_CommonDetailFields.cshtml", adverseMedia); }

                                    }
                                </tbody>
                            </table>
                        }

                        @if (media.HasMediaMentions())
                        {
                            <h3>Mentions</h3>

                            <table>
                                <tbody>
                                    @foreach (var mention in media.Mentions.Mentions)
                                    {
                                        var url = mention.GetUrl();
                                        <tr>
                                            <td>
                                                @if (url != null)
                                                {
                                                    <h3><a href="@url">@mention.Title</a></h3>
                                                }
                                                else
                                                {
                                                    <h3>@mention.Title</h3>
                                                }

                                                <p>@mention.Snippet</p>
                                                <span style="float:right"><em>Published: </em>@DateHelper.TryFormatShortDate(mention.Date)</span>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }



                    }

                </section>
            }


        </section>


        <p class="end">End of report.</p>
        <!--Generic document disclaimer-->
        @*<section>
                <div class="disclaimer">
                    <h2 id="about">Product Disclaimer</h2>
                    <p>
                        [Please provide text for a disclaimer if required]
                    </p>
                </div>
                <p class="end">End of report.</p>
            </section>*@

    </div>

</body>
</html>